body {
    background-color:rgb(188, 238, 188);
}
h1{
    text-align: center;

    color: black;

    padding: 0px 0px 0;
    font-size: 32px;
    text-shadow: 2px 2px 0px blanchedalmond;

}

h2{
    text-align: center;
}


input[type=file]{

    background-color:gainsboro;
    color: red;
    box-shadow:1px 0px 1px #D83F3D inset;

}

label{
    padding: 10px 10px 0;
    color : rgb(22, 32, 6);
    text-shadow: 1px 1px 1px rgb(71, 126, 25);

}
button{
    padding-bottom:0px; 
    height: 30px;
    width: 30%;
    
    border-top: solid #000 2px;
    border-bottom: solid #000 2px;
    border-left: solid #000 2px;
    border-right: solid #000 2px;
    color:beige;
    background-color:rgb(63, 97, 39);
    position:relative; 
    left:4%;
}
.col-sm-10{
    padding: 4px 20px 1px;
    position:relative; 
    left:4%;
}
.form-group{
    padding: 0px 0px 10px ;

}
