h4{

    text-align: center;

    color: black;

    padding: 0px 0px 10%;
    font-size: 32px;
    text-shadow: 2px 2px 0px blanchedalmond;

}
button[type="add"]{
    padding: 10px 0px 2%;

    position:relative; 
    left:36%;
    font-size: x-large;
}