body {
    font-family: sans-serif;
    background: #008cc6;
  }
  
  small {
    color: #ccc;
  }
  
  path {
    cursor: pointer;
  }
  
  path:hover {
    fill: rebeccapurple;
  }
  
  #popper {
    visibility: hidden;
    padding: 1em;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 10px 3px rbga(0, 0, 0, .3);
  }